@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #1f2937;

  --primary: #1d4ed8;
  --primary-foreground: #ffffff;

  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;

  --accent: #e0f2fe;
  --accent-foreground: #0369a1;

  --muted: #f9fafb;
  --muted-foreground: #6b7280;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #e5e7eb;
  --input: #f3f4f6;
  --ring: #2563eb;

  --card: #ffffff;
  --card-foreground: #1f2937;

  --popover: #ffffff;
  --popover-foreground: #1f2937;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --primary: #60a5fa;
  --primary-foreground: #0f172a;

  --secondary: #1e293b;
  --secondary-foreground: #f1f5f9;

  --accent: #1d4ed8;
  --accent-foreground: #e0f2fe;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --destructive: #f87171;
  --destructive-foreground: #1e293b;

  --border: #334155;
  --input: #1e293b;
  --ring: #3b82f6;

  --card: #1e293b;
  --card-foreground: #f1f5f9;

  --popover: #1e293b;
  --popover-foreground: #f8fafc;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
